<h1>Input - text</h1>

<h3>Template forms</h3>

<app-form-field>
  <label
    for="textinput"
  >
    Text input
  </label>
  <input
    appInput
    type="text"
    id="textinput"
    name="text-input"
    placeholder="Enter here your text"
    [(ngModel)]="textValue"
    maxlength="5"
    required
  />
</app-form-field>
<br>



<h3>Reactive forms</h3>

<form [formGroup]="formGroup">
  <app-form-field *ngIf="formGroup.get('text') as textControl">
    <label
      for="number-input"
    >
      Number input
    </label>
    <input
      appInput
      type="text"
      formControlName="text"
      showErrorsIfUntouched
    />
    @if (!textControl.hasError('required')) {
      @if (textControl.hasError('minlength')) {
        <app-form-error>
          Min value is {{ formGroup.get('text')?.errors?.['minlength'].requiredLength }}.
          Current one is {{ formGroup.get('text')?.errors?.['minlength'].actualLength }}
        </app-form-error>
      }
      @if (textControl.hasError('maxlength')) {
        <app-form-error>Max value is 2</app-form-error>
      }
    }
    @if (textControl.hasError('required')) {
      <app-form-error>This field is required</app-form-error>
    }
  </app-form-field>
</form>
<br>

